@font-face {
	font-family: 'gotham';
	src: url('./assets/fonts/gotham/gothamLight.ttf') format('truetype');
	font-weight: 100;
}
@font-face {
	font-family: 'gotham';
	src: url('./assets/fonts/gotham/gothamBook.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'gotham';
	src: url('./assets/fonts/gotham/gothamMedium.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'gotham';
	src: url('./assets/fonts/gotham/gothamBold.ttf') format('truetype');
	font-weight: 800;
}
.gotham {
	font-family: 'gotham' !important;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #294c6a;
	font-weight: 600;
	background-color: #f7f7fc !important;
}
