.arrow-bubble {
	height: 25px;
	width: 25px;
}
.arrow-bubble.bubble-sm {
	width: 20px !important;
	height: 20px !important;
}
.arrow-bubble span {
	left: 0px;
	top: 0px;
	opacity: 0.16;
	z-index: 1;
}
.event-date {
	opacity: 0.5;
}
